name: CI pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      
      - name: setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      
      - name: build binary
        run: |
          GOOS=linux GOARCH=amd64 go build -o app .

      - name: build docker images
        run: |
          docker build -t myapp:latest . 